/* ConsultantProfile.css */

.consultant_profile_page{
  background-color: #ddd;
    min-height: 100vh;
    padding-bottom: 20px;
}

.consultant_profile_banner {
    width: 90%;
    border-radius: 30px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
    padding-bottom: 30px;
    background-color: #ffffff; /* Set your desired background color */
    position: relative;
    /* height: 270px; */
  }
  
  .consultant_profile_picture img {
    width: 170px; /* Set your desired width for the profile picture */
    height: 180px; /* Set your desired height for the profile picture */
    border-radius: 20px; /* To make the picture circular */
    object-fit: cover; /* Ensure the picture covers the entire space */
    /* position: relative; */
  }
  
  .consultant_profile_details {
    flex: 1;
    margin-left: 10px;
  }
  .consultant_profile_banner_data {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Equal height for both columns */
    margin: 10px;
  }
  
  .consultant_profile_banner_data_c1,
  .consultant_profile_banner_data_c2 {
    flex: 1;
    padding: 0 5px; /* Add padding as needed */
    border-right: 1px solid #a4a3a3; /* Vertical line between columns */
    box-sizing: border-box; /* Include padding and border in the total width */
  }
  
  /* Remove the border-right from the last column */
  .consultant_profile_banner_data_c2 {
    border-right: none;
  }

  .constultant_profile_banner_personal_detail_icon{
    margin-right: 10px;
    color: rgb(121, 122, 122);
  }

  .constultant_profile_banner_personal_detail{
    display: flex;
    align-items: center;
    padding: 10px;
}

.consultant_profile_professional_summary {
  width: 90%;
  border-radius: 30px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  position: relative;
}

.consultant_profile_professional_summary h3 {
  font-size: 18px;
  color: #333;
  font-weight: 500;
  margin-bottom: 10px;
}

.consultant_profile_professional_summary p {
  font-size: 18px;
  color: #666;
  line-height: 1.4;
}

.consultant_profile_resume_section {
  width: 90%;
  border-radius: 30px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px dashed #ddd;
}

.consultant_profile_resume_section h3 {
  font-size: 18px;
  color: #333;
  font-weight: 500;
  margin-bottom: 10px;
}

.resume_box {
  margin-top: 10px;
  border: 2px solid rgb(183, 180, 180);
  border-radius: 10px;
  border-style: dashed;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.resume_box p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.resume_buttons {
  margin-top: 15px;
}

.download_button,
.update_button {
  color: rgb(210, 207, 207);
  background-color: #636262;
  padding: 10px 13px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
}

.download_button:hover,
.update_button:hover {
  background-color: #4d4d4d;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 6px -1px, rgba(255, 255, 255, 0.3) 0px 3px 5px -1px;
}


/* Add these styles to ConsultantProfile.css */

.consultant_profile_key_skills_section {
  width: 90%;
  border-radius: 30px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px dashed #ddd;
  margin-bottom: 20px;
  position: relative;
}

.consultant_profile_key_skills_section h3 {
  font-size: 18px;
  color: #333;
  font-weight: 500;
  margin-bottom: 25px;
}

.consultant_profile_key_skills_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}

.consultant_profile_key_skill_tag {
  background-color: #636262;
  color: rgb(248, 248, 248);
  padding: 10px 14px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.consultant_profile_key_skill_tag:hover {
  background-color: #4d4d4d;
  color: white;
}

.consultant_profile_edit_button {
  position: absolute;
  top: 10px; /* Adjust this value to set the distance from the top */
  right: 10px; /* Adjust this value to set the distance from the right */
  cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
  background-color: #d7d6d6; /* Add a background color */
  padding: 6px 8px; /* Add padding for better clickability */
  border-radius: 50%; /* Make the button round */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  transition: background-color 0.3s, transform 0.3s; /* Add a smooth transition effect */

  /* Customize the pen icon */
  font-size: 20px;
  color: #333; /* Icon color */
}

.consultant_profile_edit_button:hover {
  background-color: #f0f0f0; /* Change background color on hover */
  transform: scale(1.1); /* Add a slight scale effect on hover */
}



.consultant_profile_picture {
  display: inline-block;
}

.image-container {
  position: relative;
  overflow: hidden;
  margin-right: 20px;
  border-radius: 20px;
}

.consultant_profile_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially invisible */
  transition: opacity 0.3s;
  cursor: pointer;
}

.change-text {
  color: #fff; /* Text color */
  font-size: 16px;
}

.image-container:hover .consultant_profile_overlay {
  opacity: 1; /* Make overlay visible on hover */
}

.image-container:hover .change-text {
  text-decoration: underline; /* Underline text on hover */
}

/* Style for the file input dialog */
.file-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  
}

/* Add these styles to ConsultantProfile.css */
.consultant_profile_edit_popup {
  background-color: #fff;
  width: 500px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.company-profile-rating-popup {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 300px;
  border-radius: 10px;
}

.consultant_profile_edit_popup label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #787878;
}

.consultant_profile_edit_popup input {
  width: 96%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.tags-container{
  display: flex;
  flex-wrap: wrap;
}

.consultant_profile_edit_popup_buttons {
  display: flex;
  justify-content: space-between;
}

.consultant_profile_edit_popup textarea {
  width: 96%;
  height: 150px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical; /* Allow vertical resizing */
  font-size: 16px;
  line-height: 1.5;
}




