* {
    margin: 0;
    padding: 0;
}

.policy-card-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    position: relative;
    flex: 1;
}

.consultant-projects-page{
    min-height: 98vh;
    background-color: #ddd;
}

.consultant-projects-page-cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    justify-content: space-evenly;

}
