.css-rorn0c-MuiTableContainer-root.table-container {
  width: 85%;
  border-radius: 10px;
  border-radius: 8px;
  margin: auto; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-collapse:collapse;
  margin-bottom: 20px;
  margin-top: 20px;
}

th {
  white-space: nowrap;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-weight: bold !important;
  font-size: 1.1rem !important;
  line-height: 1.5rem !important;
  letter-spacing: 0.01071em !important;
  display: table-cell !important;
  vertical-align: inherit !important;
  border-bottom: 1px solid rgba(224, 224, 224, 1) !important;
  text-align: center !important;
  padding: 16px !important;
  color: rgba(255, 255, 255, 0.87) !important;
  border-right: none !important;
  position: sticky;
  top: 0;

}

td {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
  line-height: 1.43 !important;
  letter-spacing: 0.01071em !important;
  display: table-cell !important;
  vertical-align: inherit !important;
  border-bottom: 1px solid rgba(224, 224, 224, 1) !important;
  text-align: center !important;
  padding: 16px !important;
  color: rgba(0, 0, 0, 0.87) !important;
  border-right: none !important;
}


th:nth-child(1),
td:nth-child(1) {
  width: 150px; 
}

th:nth-child(2),
td:nth-child(2) {
  width: 250px; 
}

th:nth-child(3),
td:nth-child(3) {
  width: 150px; 
}

th:nth-child(4),
td:nth-child(4) {
  width: 100px; 
}

th:nth-child(5),
td:nth-child(5) {
  width: 150px; 
}

th:nth-child(6),
td:nth-child(6) {
  width: 200px; 
}

th:nth-child(7),
td:nth-child(7) {
  width: 150px; 
}

th:nth-child(8),
td:nth-child(8) {
  width: 150px; 
}



tr:nth-child(odd) {
  background-color: white;
}




tr:hover {
 
  cursor: pointer;
}

.selected-row {
  background-color: #acaaaa; 
  
}



@media screen and (max-width: 600px) {
  th,
  td {
    display: block;
    width: 100%;
  }
}
