/* *{
    background: #f7f7f7;
} */

.table {
  min-width: 650px;
}
.table-container {
  margin-left: 60px;
  margin-top: 50px;
  /* position: relative; */
  /* overflow-x: hidden !important; */
  display: flex;
  flex-direction: column;
}

.policy-table-container {
  margin-left: 0px;
  margin-top: 10px;
  /* position: relative; */
  /* overflow-x: hidden !important; */
  display: flex;
  flex-direction: column;
}

.table-header {
  background-color: rgba(0, 0, 0, 0.87);
  color: white !important;
}

.table-container {
  border-radius: 0 !important;
}

/* Decrease cell size */
.table tbody .table-cell {
  padding: 4px !important;
  font-size: 0.9rem !important;
}

.table-pagination {
  margin-right: 1180px !important;
  overflow: hidden !important;
  background-color: #f6f6f6 !important;
  flex: 0 0 auto !important;
  -webkit-tap-highlight-color: transparent !important;
  box-shadow: none !important;
  
}

.tag-item{
  align-items: center;
  display: flex;
}

.filter-title-section{
  font-size: 15px;
    text-transform: uppercase;
    font-weight: 850;
    line-height: 24px;
    cursor: pointer;
    background-color: #a7a7a7;
    color: #fff;
    padding: 10px 5px;
    margin-bottom: 0px;
}

.policy-filter-title-section{
  font-size: 15px;
    text-transform: uppercase;
    font-weight: 850;
    line-height: 24px;
    cursor: pointer;
    background-color: #a7a7a7;
    color: #fff;
    padding: 10px 5px;
    margin-bottom: 0px;
    margin-top:5px;
}

.compp-filter-title-section{
  font-size: 15px;
    text-transform: uppercase;
    font-weight: 850;
    line-height: 24px;
    cursor: pointer;
    background-color: #a7a7a7;
    color: #fff;
    padding: 10px 5px;
    margin-bottom: 0px;
    margin-top:0px;
}

.filter_cp_icon{
  font-size: 18px;
    padding-top: 4px;
    margin-bottom: -3px;
    margin-right: 3px ;
    margin-left: 5px;
    fill: currentColor;

}

.policyy_filter_cp_icon{
  font-size: 18px;
    padding-top: 4px;
    margin-bottom: -3px;
    margin-right: 3px ;
    margin-left: 5px;
    fill: currentColor;

}
.table_settings_icon{
  margin-left: "60px";
  margin-top: "50px";
  font-size: "50px";
  /* color: #4da92b; */
}

.table_cp_search_container {
  margin-left: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  margin-top: 118px;
}

.view-section-active {
  color: #0d0d0d !important;
}
.table_cp_search_container input {
    padding: 8px;
    margin-right: 10px;
    border: 2px solid #040404;
    border-radius: 4px;
}

.table_cp_tag_container{
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 380px;  */
    margin-top: -38px; 
   flex-direction: row;
    width: 450px;
    padding: 2px 10px;
    max-height: fit-content;
    border-radius: 15px;
    height: 150px;
    align-items: center;
    cursor: pointer;
    overflow: hidden; 
}


.table_cp_tag_container::after {
    content: ''; 
    display: block; 
    flex: 0 0 auto; 
    width: 100%; 
    height: auto;
    margin-left: 380px; 
    margin-top: -38px; 
    margin-bottom: -35px;
  }

  .table_cp_tag_container:hover
   {
   /* text-decoration: line-through; */
   
   color: #4da92b;
   
  }

  .table_cp_tag button:hover{
   
    background-color: #4da92b;
  }

  .table_cp_tag:hover{
    
    color: #4da92b;
  }

.table_cp_tag {
    background-color: #eee;
    color: #000;
    margin: 5px;
    border-radius: 10px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    position: relative;
    /* max-height: fit-content; */
    padding: 2px 10px;
    white-space: nowrap;
    font-size: 16px;
    display: block;
  }
  
  
  .table_cp_tag button {
    position: relative;
    top: -2px;
    right: 2px;
    background: #aaa;
    border: 1px #aaa;
    border-radius: 5px;
    color: #0b0b0b;
    cursor: pointer;
    text-decoration: none;
    font-size: 90%;
    color: white;
    line-height: 12px;
    margin-left: 8px;
    display: inline-block;
    margin-right: -7px;
    height: 12px;
    width: 12px;
    margin-bottom: 2px;
  }
  
  .cp_filters_container {
    display: flex;
    gap: 10px;
  }
  
  .cp_select {
    padding: 8px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .cp_view_toggler {
    display: flex;
  }
  
  .cp_radio_label {
    margin-right: 15px;
  }
  
  .cp_age_filter {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .cp_label {
    font-weight: bold;
  }
  
  .cp_date_input_container {
    display: flex;
    gap: 8px;
  }
  
  .cp_input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .cp_date_separator {
    margin: 5px 8px;
    font-weight: bold;
  }
  
  
  .cp_label {
    margin-right: 10px;
  }
  
  .cp_icon_label {
    cursor: pointer;
    /* margin-right: 450px; */
  }
  
  .cp_icon {
    font-size: 22px;
    color: rgb(133, 130, 130);
    /* margin-right: 450px; */
  }
  
  
  
  .ttable_cp_sidebar_filter {
    z-index: 2;
    /* Adjust the value as needed */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  
  
  .cp_card_icon,
  .cp_grid_icon {
    transition: color 0.3s ease-in-out;
    /* margin-right: 450px; */
  }
  
  .cp_selected_icon {
    color: rgb(0, 0, 0);
    font-size: 26px;
  }
  
  .cp_filter_icon {
    cursor: pointer;
    border-radius: 10%;
    padding: 5px;
  
  }
  
  .cp_filter_icon:hover {
  
    color: #000;
  }
  
  .cp_filter_icon.active {
    background-color: white;
  }
  
  
  .company-content-container {
    display: flex;
  
  }
  
  .ttable_cp_sidebar_filter {
    position: fixed;
    top: 86px;
    width: 300px;
    height: calc(100% - 100px);
    /* background-color: #f7f7f7; */
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    /* box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    height: 100%;
  }
  
  .ttable_cp_sidebar_filter::-webkit-scrollbar {
    width: 8px;
  }
  
  .ttable_cp_sidebar_filter::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
  
  .ttable_cp_sidebar_filter::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .table_cp_sidebar_open {
    transform: translateX(0);
  }
  
  .table_cp_filter_section {
    padding: 16px;
    padding-top: 0px;
    /* border-bottom: 1px solid #e0e0e0; */
  }

  .table-filter-heading{
    margin-left: 0px;
  }

  .table-down-icon{
    margin-left: -7px;
    cursor: pointer;
   
  }

  /* .table-down-icon:hover{
   
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #e0dddd;
    z-index: 1;
    box-sizing: border-box;
    width: 44px;
    white-space: nowrap;
    height: 24px;
  } */
  
  .cp_filter_title {
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: -20px;
    margin-left: 25px;
  }
  
  .cp_filter_input {
    display: flex;
    align-items: center;
  }
  
  .cp_filter_input input {
    width: 100px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .cp_filter_separator {
    margin: 0 8px;
    font-weight: bold;
  }
  
  
  .cp_filter_logic {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .cp_filter_logic label {
    margin-right: 15px;
  }
  
  .cp_filter_logic label:last-child {
    margin-right: 0;
  }
  
  .cp_filter_logic::before {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
  }
  
  .cp_filter_logic::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
  }
  
  .dropdown-icon {
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    padding: 10px;
  }
  
  .dropdown-options {
    margin-top: 5px;
  }
  
  .dropdown-options label {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-options input {
    margin-right: 10px;
  }
  
  
  .save-report-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .save-report-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fdfdfd;
    padding: 20px;
    padding-top: 0px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    max-width: 300px;
    width: 100%;
    text-align: center;
    z-index: 1001;
  }
  
  .save-report-popup label {
    display: block;
    margin-bottom: 10px;
  }
  
  .save-report-popup label p {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .save-report-popup input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  .save-report-popup .popup-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .save-report-popup button {
    padding: 10px 20px;
    background-color: #a0a0a0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .save-report-popup button:hover {
    background-color: #6f6f6f;
  }
  
  .save-view-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8d8c8c;
    margin-bottom: 5px;
    padding: 0 10px;
  }

  
  
  .save-view-section button {
    display: flex;
    font-size: 14px;
    align-items: center;
    background-color: #3498db00;
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .save-view-section-icon {
    font-size: 16px;
    padding-right: 5px;
    margin-left: -15px;
  }
  
  .save-view-section button:hover {
    color: #363636;
  }
  
  .save-view-section button svg {
    margin-right: 1px;
  }
  
  
  
  
  .top-pannel {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: height 0.3s ease;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  }
  
  
  
  .top-pannel-content {
    display: flex;
  }
  
  .reports-section {
    flex: 1;
    min-height: 200px;
  }
  
  
  .reports-section h3 {
    font-weight: 700;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 5px;
    color: #333;
    text-align: center;
    background-color: rgb(232, 232, 232);
  }
  
  .reports-section ul {
    list-style: none;
    padding: 0;
  }
  
  .reports-section li {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 8px;
    font-size: 16px;
    color: #555;
    cursor: pointer;
  }


  