* {
  margin: 0;
  padding: 0;
}

.pdfview-container {
  background-color: #ddd;
  height: 100vh;
}

.pdfview-toolbar {
  background-color: #ecebeb;
  padding: 10px;
  box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.25),
    inset 0 2px 1px 1px rgba(255, 255, 255, 0.9),
    inset 0 -2px 1px rgba(0, 0, 0, 0.25);
  margin-left: 4vh;
  display: flex;
  width: 120vh;
  height: 4vh;
  position: sticky;
  z-index: 999;
  top: 0;
}
.pdf_note_dialog_edit_popup {
  background-color: #f6f5f5;
  width: 300px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.pdf_note_dialog_edit_popup textarea {
  width: 90%;
  height: 60%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
  font-size: 16px;
  line-height: 1.5;
}
.pdf_note_dialog_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

::selection {
  background-color: rgb(211, 211, 243);
  color: black;
  outline: none;
  transition: opacity 0.3s ease-in-out;
}

::selection::after {
  background-color: #ccc;
  color: black;
  outline: none;
  transition: opacity 0.3s ease-in-out;
}

.pdfview_delete-note-button{
  background: none;
  outline: none;
  border: none;
  font-size: 20px;
  margin-bottom: 0px;
  margin-left: 178px;
  cursor: pointer;
  position: relative;
  
}
.pdfview_note-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.pdfview_toggler {
  display: flex;
  margin-left: 0%;
}
.pdfview_icon_label {
  cursor: pointer;
  margin-right: 15px;
}

.pdfview_icon {
  font-size: 24px;
  color: rgb(133, 130, 130);
}
.pdfview_card_icon,
.pdfview_grid_icon {
  transition: color 0.3s ease-in-out;
}

.pdfview_selected_icon {
  color: rgb(0, 0, 0);
  font-size: 26px;
}
.pdfview-divider {
  margin: 0 10px;
  color: black;
  border-left: 1px solid black;
  height: 30px;
  cursor: default;
}
.pdfview_highlight_icon {
  color: rgb(133, 130, 130);
  border: none;
  outline: none;
  background: none;
  font-size: 26px;
  cursor: pointer;
  margin-left: 78vh;
}
.pdfview_eraser_icon {
  color: rgb(133, 130, 130);
  border: none;
  outline: none;
  background: none;
  font-size: 26px;
  cursor: pointer;
}

.pdfview_previous_icon {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  left: -38px;
  top: 450px;
  transform: translateY(-50%);
  border: none;
  background: none;
  margin-left: 40px;
  color: #565656;
}

.pdfview_next_icon {
  font-size: 30px;
  position: absolute;
  right: 430px;
  top: 450px;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  color: #565656;
}

.pdfview_content_container {
  height: 90vh;
  width: 62vw;
  margin-left: 12vh;

  overflow-x: auto;
  max-height: 100vh;
  margin-top: 1px;
}

.pdfview_pagination {
  position: relative;
  height: 143vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  
  width: 99%;

  transition: margin-left 0.3s ease;
  overflow: auto;
  margin-top: 1px;
}

.pdfview_container_sidebar {
  position: absolute;
  width: 40px;
  background-color: #ecebeb;
  box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.25),
    inset 0 2px 1px 1px rgba(255, 255, 255, 0.9),
    inset 0 -2px 1px rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin-top: 0vh;
  height: 88.1vh;
  margin-left: 4vh;
  transition: width 0.3s ease, z-index 0.3s ease;
}

.pdfview_container_sidebar.extended {
  width: 200px;
  z-index: 1;
  
}

.pdfview_note_icon {
  color: rgb(48, 46, 46);
  border: none;
  outline: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
}
.pdfview_note-item::marker {
  
  content: none; 
}

.custom-tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  background-color: rgb(133, 130, 130);
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgb(133, 130, 130) transparent transparent;
}

.custom-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.pdfview-icon-tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #8d8c8c;
}


.highlighted-text {
  background-color:yellow; 
 
  color: black;
}


.pdf_edit_button {
  cursor: pointer;
  color: #636262;
  font-size: 20px;

  background: none;
  border: none;
  padding: 0;
  margin-left: 8px;
  margin-top: 10px;
  transition: transform 0.3s ease-in-out;
}

.pdf_edit_button:hover {
  transform: scale(1.1);
}


.pdf_zoom_buttons_container {
  display: flex;
  margin-left: 90vh;
  
}

.pdf_zoom_icon,
.pdf_zoom_in_icon,
.pdf_zoom_out_icon {
  cursor: pointer;
  margin-right: 3px;
  font-size: 24px;
  color: rgb(133, 130, 130);
  background-color: transparent;
  border: none;
}

.pdf_zoom_in_icon,
.pdf_zoom_out_icon {
  transition: color 0.2s ease-in-out;
}



.extended-content {
  margin-top: 10px;
  color: rgb(133, 130, 130);
}

.pdfview-show-icon-container {
  position: absolute;
  display: flex;
  background-color: #ddd8d8;
  flex-direction: row;
  height: 35px;
  white-space: nowrap;
  width: 160px;
  top: 60%;
  left: 30%;
  z-index: 4;
  box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.25),
  inset 0 2px 1px 1px rgba(255, 255, 255, 0.9),
  inset 0 -2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: 32px;
  padding: 4px;
  font-weight: bold;
}

.pdfview-show-icon-container-button {
  color: black;
  background: none;
  outline: none;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.25),
    inset 0 2px 1px 1px rgba(255, 255, 255, 0.9),
    inset 0 -2px 1px rgba(0, 0, 0, 0.25);
}

.pdfview-icon-tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #8d8c8c;
}

.pdf_sidebar {
  width: 25%;
  padding: 20px;
  max-height: 100vh;
  background-color: #f6f5f5;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 43px;
  right: 0;
  height: calc(100% - 43px);
  border-left: 1px solid #ccc;
  overflow: auto;
}

.pdf-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8d8c8c;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  padding: 0 10px;
}

.pdf_sidebar_heading {
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  right: 10;
}

.pdf_sidebar_heading_icon {
  color: white;
  margin-right: 5px;
}

.policy-details-container {
  max-width: 300px;
  margin: 20px auto;
  cursor: default;
  margin-left: 10px;
}

.policy-details-container-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
}

.policy-details-container tr:nth-child(even) {
  background-color: #e8e8e8;
}

.policy-details-container tr:nth-child(odd) {
  background-color: #ddd;
}

td {
  padding: 8px;
  border-top: none;
  border-bottom: none;
  white-space: nowrap;
  /* align-items: center;
  justify-content: center;
  text-align: center; */
}
.policy-title-cell {
  white-space: normal;
}

strong {
  font-weight: bold;
}

.pdf_table h2 {
  color: black;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.pdf_table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
}

.pdf_table th:nth-child(1),
.pdf_table td:nth-child(1) {
  width: 30%;
}

.pdf_table th,
.pdf_table td {

  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  color: #636262;
}

.pdf_table th:first-child,
.pdf_table td:first-child {
  border-left: none;
}

.pdf_table th:last-child,
.pdf_table td:last-child {
  border-right: none;
}

.pdf-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pdf_edit_popup {
  background-color: #fff;
  width: 500px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: calc(50% + 20px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.pdf_edit_popup label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #787878;
  text-align: left;
}

.pdf_edit_popup input {
  width: 96%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pdf_edit_popup_buttons {
  display: flex;
  justify-content: space-between;
}

.pdf_edit_popup textarea {
  width: 96%;
  height: 150px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
  font-size: 16px;
  line-height: 1.5;
}

.pdf-popup-table-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pdf-table-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8d8c8c;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  padding: 0 10px;
   /* z-index: 1001;  */
}
.pdf_table_pop_heading {
  color: #636262;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pdf_edit_table_popup {
  background-color: white;
  width: 500px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: calc(50% + 20px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  min-width: 500px;
}

.pdf-custom-modal {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 70%;
}
.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.pdf-close-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 10px;
  font-weight: bold;
  font-size: 20px;
}

.pdf-table-container {
  position: relative;
  margin-top: 20px;
  overflow-y: auto;
  overflow-x: auto;
  border-top: none;
  border-bottom: none;
  white-space: nowrap;
}
.pdf_table_pop_heading {
  font-size: 25px;
  font-weight: normal;
  margin-top: 20px;
}
