.ppc_card {
  background-color: #f6f6f6;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 18px;
  /* padding-bottom: 12px; */
  width: 280px; /* Adjust width as needed */
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.3s ease; 
}

.ppc_card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Adjust shadow on hover */
}

.card-image {
  width: 100%; /* Fill the entire card width */
  height: 140px; /* Adjust height as needed */
  object-fit: cover; /* Resize image to fit the container while maintaining aspect ratio */
  border-radius: 10px;
  border: 1px solid rgb(208, 208, 208);
}

.card-header {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* text-align: center; */
}

.featured {
  padding: 6px 0px;
  font-weight: 700;
}

.policy-card-body{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-bottom: 15px;
}

.project-name-span{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 230px;
  color: black;
  font-weight: 700;
}

.project-name-span, .beds{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 230px;
  color: black;
}