.review-table-container {
  overflow-x: auto;
  overflow-y: auto;
  max-width: 100%;
  width: 500px;
}

.custom-table {
  font-family: Arial, Helvetica, sans-serif;
  width: max-content;
  border-collapse: collapse;
  text-align: left;
  margin: 20px 0 20px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  table-layout: fixed;
  text-align: center;
  padding: 5px;
}

.custom-table th,
.custom-table td {
  padding: 3px;
  font-size: 12px;
}

.custom-table th {
  position: sticky;
  top: 0;
  background-color: #858484;
}

th:nth-child(1),
td:nth-child(1) {
  width: 40px;
  padding: 5px;
}

th:nth-child(2),
td:nth-child(2) {
  width: 50px;
}

th:nth-child(3),
td:nth-child(3) {
  width: 120px;
}

th:nth-child(4),
td:nth-child(4) {
  width: 100px;
}

th:nth-child(5),
td:nth-child(5) {
  width: 150px;
}

th:nth-child(6),
td:nth-child(6) {
  width: 200px;
}

th:nth-child(7),
td:nth-child(7) {
  width: 100px;
}

th:nth-child(8),
td:nth-child(8) {
  width: 150px;
}

.custom-table tr:nth-child(even) {
  background-color: #e8e8e8;
}

.custom-table tr:nth-child(odd) {
  background-color: #ddd;
}

tr:hover {
  background-color: #9e9b9b;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  th,
  td {
    display: block;
    width: 100%;
  }
}
